<div class="w-full h-14 flex justify-center items-center rounded-md border border-teal-500">
    <div class="flex flex-row space-x-4 items-center">
        <div class="flex flex-row space-x-2 items-center font-light">
            <span class="material-symbols-outlined text-teal-500">
                signal_cellular_alt
            </span>
            <span class="text-teal-500">
                {{today | date}}
            </span>
        </div>
        <span class="text-teal-500">
            All System Operations
        </span>
    </div>
</div>