<div class="w-full flex flex-col">
    @for (item of contentTabItems$ | async; track $index) {
        <div class="w-full flex justify-between items-center h-16 px-6 border hover:border-teal-500">
            <div class="flex space-x-2 justify-start items-center">
                <span>
                    {{item.label}}
                </span>
            </div>
            <div class="flex space-x-2 justify-start items-center">
                <span class="material-symbols-outlined text-teal-500">
                    done
                </span>
                <span class="text-teal-500">
                    {{item.uptime}} uptime
                </span>
            </div>
        </div>
    }
</div>

